<h1>1D. Pipe number</h1>
<!-- По сути это маленькие трансформеры внутри шаблона. Служат для трансформации отображения каких либо динамических данных -->
<!-- Пайпы всегда доступны, тк лежат в модуле browserModule -->

<br><p>{{e}} ---- число, как есть</p>
<br><p>{{e | number}} ---- применяем пайп <b>number</b></p>
<br><p>{{e | number:'1.1-5'}} ---- применяем пайп <b>number:'1.1-5'</b></p>       <!-- number принимает аргументы - кол-во чисел до точки и диапозон чисел после точки -->
<br><p>{{e | number:'3.1-2'}} ---- применяем пайп <b>number:'3.1-2'</b></p>
<br><p>{{e | number:'1.0-0'}} ---- применяем пайп <b>number:'1.0-0'</b></p>
<br>

<br><p>{{float}} ---- число, как есть</p>
<br><p>{{float | currency}} ---- применяем пайп <b>currency</b></p>               <!-- currency приводит число к виду валюты -->
<br><p>{{float | percent}} ---- применяем пайп <b>percent</b></p>                 <!-- percent приводит число к виду процента -->
<br><p>{{float | percent:'3.1-2'}} ---- применяем пайп <b>percent:'3.1-2'</b></p> <!-- у percent есть аргументы, работают как у number -->
<br><p>{{float | percent:'2.0-0'}} ---- применяем пайп <b>percent:'2.0-0'</b></p> 
<br>
