<h1>D5. Создание Pipe'а</h1>
<br>
<p>{{num}} ---- число, как есть</p>
<p>{{num | mult:2}} ---- применили созданный пайп <b>mult</b> с аргументом <b>:2</b></p>
<p>{{num | mult:3}} ---- применили созданный пайп <b>mult</b> с аргументом <b>:3</b></p>
<p>{{num | mult:5}} ---- применили созданный пайп <b>mult</b> с аргументом <b>:5</b></p>
<p>{{num | mult:8}} ---- применили созданный пайп <b>mult</b> с аргументом <b>:8</b></p>
<p>{{num | mult:10}} ---- применили созданный пайп <b>mult</b> с аргументом <b>:10</b></p>
<br>
<p>{{str}} ---- строка, как есть</p>
<p>{{str | exMarks}} ---- применили созданный пайп <b>exMarks</b></p>