<h1>2D. Pipe string</h1>
<!-- По сути это маленькие трансформеры внутри шаблона. Служат для трансформации отображения каких либо динамических данных -->
<!-- Пайпы всегда доступны, тк лежат в модуле browserModule -->

<br><p>{{str}} ---- строка, как есть</p>
<br><p>{{str | uppercase}} ---- применяем пайп <b>uppercase</b></p>                 <!-- upper- lowercase меняют регистр букв -->
<br><p>{{str | lowercase}} ---- применяем пайп <b>lowercase</b></p>
<br><p>{{str | uppercase | lowercase}} ---- применяем пайп <b>uppercase | lowercase</b> (сразу два)</p>
<br><p>{{str | titlecase}} ---- применяем пайп <b>titlecase</b></p>                 <!-- titlecase меняет регистр букв - каждое слово с заглавной -->
<br><p>{{str | slice:1:5}} ---- применяем пайп <b>slice:1:5</b></p>                 <!-- slice обрезает строчку - 1:5 - значит, вырезаем 1 индекс, и все после 5го индекса-->
<br>