/* Когда мы задаем стили компоненту, по умолчанию они применяются только на него, чтобы сделать их глобальными необходимо добавить */

h2 {
    font-weight: bold;
    font-style: italic;
    color: red;
}