
<h1>2A. Динамические вставки из ts и atribute binding</h1>

<p>{{title}}</p>                            <!-- импорт значений из app.component.ts свойств класса (интерполяция)-->
<p><strong> {{number - 2}} </strong></p>
<p>{{arr}}</p>
<p>{{obj.b.c}}</p>                          <!-- объекты нельзя, только элементы объектов-->
<p>{{40 + 2}}</p>
<p>{{'Hello' + ' world'}}</p>
<!-- <img src="{{img}}">                         {{img}} ведет на свойство, в котором строчкой записана ссылка на картинку-->
<img [src]="img">                           <!-- тоже самое, но для куртых: Забайндили (bind) атрибут "src", чтобы он следил за изменениями свойства "img"-->
