<h1>3F. Создание кастомной [(ngModel)] ссылки на логику компонента</h1>

<p>В этом компоненте заведена только одна строчка - <b>appState: 'on'</b>,<br><br>
    вся логика между компонентом и шаблоном принисена извне с помощью 1 строки внутри тега: <br>
    <b>[(ngModel)]="appState"</b><br><br>
</p>

<app-f3-ng-models [(ngModel)]="appState" (ngModelChange)="handleChange()"></app-f3-ng-models>

<hr>
<br>
<p>значение строки appState: '{{appState}}'</p>
<br>

<!-- Также у ngModel'ей есть специальный метод-событие-триггер изменений - (ngModelChange)='метод' вызывает метод в компоненте, когда модель изменилась -->