<h1>5B. View encapsulation style</h1>
<hr>
<h2>Если я красного цвета, значит в компоненте b5 post применен @component (encapsulation: ViewEncapsulation.None)</h2>

<app-b3-post-form
    (onAdd)="updatePosts($event)"    
></app-b3-post-form>                
<hr>                                                               
<app-b5-post
    *ngFor="let p of posts"
    [post]="p"
    (onRemove)="removePost($event)"                                   
>
    <div #info>
        <small *ngIf="p.text.length > 10; else short">Пост длинный</small>     
        <ng-template #short>                                                   
            <small>Пост короткий</small>                             
        </ng-template>
    </div>                                   
</app-b5-post>             

