<h1>Главный компонент-контейнер app.component</h1>
<br>
<div class="container">

    <!-- Документацию к angular можно найти на https://angular.io/api -->

  <!--   <hr>
    <app-a1-post></app-a1-post>
    <hr>
    <app-a2-dynamic-inserts></app-a2-dynamic-inserts>
    <hr>
    <app-a3-event-binding></app-a3-event-binding>
    <hr>
    <app-a4-ts-file-only></app-a4-ts-file-only> 
    <hr>
    <app-a5-two-way-binding></app-a5-two-way-binding> 
    <hr> 
    <app-a6-style-manipulate></app-a6-style-manipulate>
    <hr> 
    <app-a7-class-manipulate></app-a7-class-manipulate>
    <hr>
    <app-a8-if-else></app-a8-if-else>
    <hr> 
    <app-a9-switch></app-a9-switch>
    <hr> 
    <app-a10-for></app-a10-for>
    <hr> 
    <app-a11-pipes-basics></app-a11-pipes-basics> 
    <hr>  
    <app-b1-elements-transfer></app-b1-elements-transfer> 
    <hr> 
    <app-b2-focus-control></app-b2-focus-control>
    <hr> 
    <app-b3-lifecycle-hooks></app-b3-lifecycle-hooks>
    <hr> 
    <app-b4-change-detection-strategy></app-b4-change-detection-strategy>
    <hr> 
    <app-b5-view-encapsulation-style></app-b5-view-encapsulation-style>
    <hr> 
    <app-c1-main></app-c1-main>
    <hr> 
    <app-c2-main></app-c2-main>
    <hr> 
    <app-c3-main></app-c3-main>
    <hr> 
    <app-c4-main></app-c4-main>
    <hr> 
    <app-c5-main></app-c5-main>
    <hr> 
    <app-d1-pipe-number></app-d1-pipe-number>
    <hr>
    <app-d2-pipe-string></app-d2-pipe-string>
    <hr>  
    <app-d3-pipe-date></app-d3-pipe-date>
    <hr>
    <app-d4-pipe-obj></app-d4-pipe-obj>
    <hr> 
    <app-d5-main></app-d5-main>
    <hr> 
    <app-d6-main></app-d6-main>
    <hr> 
    <app-d7-pipe-async></app-d7-pipe-async>
    <hr> 
    <app-e1-main></app-e1-main>
    <hr>
    <app-e2-main></app-e2-main>
    <hr> 
    <app-f1-forms></app-f1-forms>
    <hr> 
    <app-f3-main></app-f3-main>
    <hr> 
    <app-g1-server-httpclient></app-g1-server-httpclient>
    <hr> 
    <app-h1-main></app-h1-main>
    <hr> -->
    <app-i1-main></app-i1-main>
    <hr> 
</div>