<h1>1B. Elements transfer (контейнер для пост-формы и постов)</h1>
<hr>

<app-b1-post-form
    (onAdd)="updatePosts($event)"    
></app-b1-post-form>                <!-- Чтобы получить что-то от компонента юзаем () "Слушаем" компонент -->

<hr>                                <!-- Чтобы метод не перезаписывался, нужно указать аргумент $event -->

                                    <!-- *** 1 способ передачи параметров внутрь компонента (из html в ts) *** -->
<app-b1-post
    *ngFor="let p of posts"
    [post]="p"                                   
>                                   <!-- Чтобы отдать что-то от компонента юзаем [] "Распространяем" компонент (в ts) -->
                                    <!-- Создаем итерацию и тк итерации это работа с js, [] байндим компонент post -->
    <div #info>
         <small *ngIf="p.text.length > 10; else short">Пост длинный</small>     <!-- *** 2 способ передачи параметров внутрь компонента (из html в html) *** -->
         <ng-template #short>                                                   <!-- создаем между тегами компонента условие длины поста -->
             <small>Пост короткий</small>                             <!-- чтобы принять нужно указать в любом шаблоне(html) место, куда рендерить контент. рендерим в b1-post -->
         </ng-template>
    </div>
</app-b1-post>             

<!-- Если нужно получить доступ к DOM эл-ту в который мы передаем компоненты - создается корневой эл-т div (контейнер) c ссылкой (#info)
Далее на эту ссылку ссылаемся внутри ts (в нашем случае b1-post-component.ts) -->