<h1>Posts component (page)</h1>

<!-- Этот компонент необходим для отображения динамического списка постов с query параметром (параметром адреса строки), показывающим или нет id поста в названии, -->
<!-- также рассмотрим особый вид query параметра - fragment (пишется после решетки) - используется для быстрого перехода к эл-ту по его id -->


<!-- Для создания динамических роутов первым делом необходимо добавить в routing.module > Routes динамическую ссылку -->

<!-- Кнопка динамически добавляет к ссылке query параметр показа id (рендерит страницу заново с query параметром) -->
<!-- в [queryParams] передаем объект с переменной-тумблером и ее значением -->
<button
  class="btn"
  [routerLink]="['/posts']"
  [queryParams]="{showIds: true}" 
  [fragment]="'exampleFragment'"
>                       <!-- Строка выше используется для задания id элементу (потом можно будет быстро к нему переходить на странице (похоже на якорь в верстке) ) -->

  Show Ids
</button>

<!-- Кнопка делает тоже самое, но не в шаблоне, а в ts логике компонента (запуская там метод showIdsProgram(), имеющий ту же логику, но ts синтаксис ) -->
<button 
  class="btn"
  (click)="showIdsProgram()"                      
>
  Show Ids (program)
</button>

<div class="card" *ngFor="let post of postsService.posts">
  <h4>
    <a [routerLink]="['/posts', post.id]">  <!-- Обязательно байндим ссылку, тк в ней присутствует динамика. 'post.id' это динамический эл-т ссылки (добавляет id эл-та в адресную строку) -->
                                            <!-- В итоге отобразится страница отдельного эл-та -->
      <strong *ngIf="showIds === true">(ID {{post.id}})</strong>      <!-- Показываем тег id, только если тумблер showIds включен (при нажатии на кнопку Show Ids) -->
      {{post.title}}
    </a>
  </h4>
</div>

<div class="card" *ngFor="let resolvedPost of resolvedPostsService.resolvedPosts">
  <h4>
    <a [routerLink]="['/resolved-posts', 100]">  <!-- Обязательно байндим ссылку, тк в ней присутствует динамика. 'post.id' это динамический эл-т ссылки (добавляет id эл-та в адресную строку) -->
                                            <!-- В итоге отобразится страница отдельного эл-та -->
      <strong *ngIf="showIds === true">(ID 100)</strong>      <!-- Показываем тег id, только если тумблер showIds включен (при нажатии на кнопку Show Ids) -->
      {{resolvedPost.title}}
    </a>
  </h4>
</div>