<h1>1B. Подконтейнер для пост-формы и постов</h1>
<hr>
<app-b1-post-form
    (onAdd)="updatePosts($event)"    
></app-b1-post-form>                <!-- Чтобы получить что-то от компонента юзаем () "Слушаем" компонент -->
<hr>                                <!-- Чтобы метод не перезаписывался, нужно указать аргумент $event -->
<app-b1-post
    *ngFor="let p of posts"
    [post]="p"                                   
></app-b1-post>             <!-- Создаем итерацию и тк итерации это работа с js, байндим компонент post -->
