<h1>D7. Пайп с удобной обработкой асинхронности</h1>
<br>
<!-- Async pipe позволяет очень удобно работать с стримами из rxjs и промисами -->

<p><b>{{ p }}</b> - Просто обращение к переменной с промисом ничего не дает. <br> Зато используя пайп <b>async</b> мы довольно легко получаем нужный результат:</p>

<p>Wait for it... <b>{{ p | async}}</b></p>
<br>

<p><b>{{ date$ }}</b> - обращение к переменной с observable потоком (rxjs). <br>
    Используя пайп <b>async</b> получаем нужный результат:
</p>
<b>{{ date$ | async | date:"MM.dd.yyyy HH:mm:ss"}}</b> <!-- также можно добавить пайпы для формата времени -->