<br>
<h1>2B. Компонент focus-control</h1>

<div>
    <input 
        type="text"
        class="form-control"
        placeholder="Title..."
        
        #titleInput                                              
    >                                           <!-- Cоздаем локальную ссылку (#titleInput) -->

    <input 
        type="text"
        class="form-control"
        placeholder="Text..."
        #textInput
    >

    <button class="btn" (click)="focusTitle()">Focus title</button>
    <button class="btn" (click)="focusText()">Focus text</button>
    
</div>