
<!-- Этот компонент необходим для обработки id компонента и отображения его личной информации, также тут есть кнопка подгрузки 4го поста -->
<!-- Выведен в отдельный элемент для наглядности -->

<h1>Resolved post component</h1> 
<div>
  <button class="btn" routerLink="/posts">Back</button>   <!-- Кнопка возвращает на страницу списка постов -->

  <h1>{{resolvedPost?.title}}</h1>               <!-- Обращаемся к переменной пост, в которую кладется пост, найденный в сервисе-списке по id -->

  <p>{{resolvedPost?.text}}</p>

  <button class="btn btn-danger" (click)="loadPost()">Load 4 post</button>    <!-- Кнопка вызывает метод, который рендерит страницу 4го поста -->
</div>
  